<div id="form1">
  <%= form_for @faq do |f| %>
       <%= f.label :question %>
       </br>
       <%= f.text_area :question %>
       </br>
       <%= f.label :answer %>
       </br>
       <%= f.text_area :answer %>
       <%= f.hidden_field :admin_id, :value => session[:admin_id] %>
       </br>
       <div id="formButtonHolder">
         <%= f.submit "PUBLISH" %>
          <% end %>
          </div>
    </div>
