<%= link_to "CSV", matchusers_path(format: "csv") %> 
</br>
</br>
<div id="heading">DRAFTS</div>
<% @drafts.each do |post| %>
  <div class="row">
    <div class="col-md-3"><%= post.title %></div>
    <div class="col-md-2"><%= post.date %></div>
    <div class="col-md-2"><%= post.category %></div>
    <div class="col-md-1"><%= link_to "EDIT", edit_draft_path(post.id, :type => "save") %></div>
    <div class="col-md-1"><%= link_to "DELETE", draft_path(post.id), :method => 'delete' %></div>
    <div class="col-md-1"><%= link_to "PUBLISH", edit_draft_path(post.id, :type => "publish") %></div>
  </div>
<% end %>

</br>
</br>
</br>

<div id="heading">LIVE POSTS</div>
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-md-3"><%= post.title %></div>
      <div class="col-md-2"><%= post.date %></div>
      <div class="col-md-2"><%= post.category %></div>
      <div class="col-md-1"><%= link_to "EDIT", edit_post_path(post.id) %></div>
      <div class="col-md-1"><%= link_to "DELETE", post_path(post.id), :method => 'delete' %></div>
    </div>
  <% end %>

</br>
</br>
</br>

<div id="heading">LIVE FAQ</div>
  <% @faqs.each do |post| %>
    <div class="row">
      <div class="col-md-7"><%= post.question %></div>
      <div class="col-md-1"><%= link_to "EDIT", edit_faq_path(post.id) %></div>
      <div class="col-md-1"><%= link_to "DELETE", faq_path(post.id), :method => 'delete' %></div>
    </div>
  <% end %>
