<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic,700italic);
      * {
        font-family: 'Lato', sans-serif;
      }
      .info {
        font-family: 'Lato', sans-serif;
      }
    </style>
  </head>
  <body>
    <div>Hi, <%= @user.name %>,</div>
    </br>
    <div>Check out the new post from The Daily Rec.!</div>
    </br>
    <% if @post.layout === "horizontalPicture"%>
      <div id="layout2" class="post" style="width: 70%; margin: auto; height: 800px;">
          <div id="top2" class="layout2">
            <img class="postImage" class="postImage" src="<%= @post.pictures[0] %>" style="width: 100%%;">
          </div>
          <div id="bottomRight" class="layout2" style="width: 100%; float: left; padding-top: 20px; border-top: 1px solid rgba(4,30,66,1); ">
            <div id="postTitle2" class="layout2 info" style="border-bottom: 1px solid rgba(4,30,66,1); padding-bottom: 10px; font-size: 20px;  text-align: center;"><%=raw @post.title.html_safe %></div>
            <div id="postDate2" class="layout2 info" style="text-align: center; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid rgba(4,30,66,1); font-size: 14px; "><%= @post.date%></div>
            <div id="postBlurb2" class="layout2 info" style="text-align: center; border-right: none; padding-top: 20px; border-top: 1px solid #041e42; font-size: 17px;  line-height: 25px;"><%=raw @post.teaser.html_safe %></div>
            <div id="postButton1" class="blogButton" style="margin-left: 25%; margin-bottom: 10px; margin-top: 10px; width: 50%; text-align: center; /* border: 1px solid grey; */  font-weight: 100; background-color: rgba(4,30,66,1); text-decoration: none; color: white; padding-top: 20px; padding-bottom: 20px;"><a href="http://www.thedailyrec.com/posts/<%= @post.id %>" style="text-decoration: none; color: white;">SEE POST</a></div>
          </div>
        </div>
    <% else %>
      <div id="layout1" class="post" style="width: 70%; margin: auto; height: 800px;">
          <div id="left" class="layout1">
            <div id="leftImage" class="layout1">
              <img class="postImage" src="<%= @post.pictures[0] %>" style="width: 60%;">
            </div>
          </div>
          <div id="right" class="layout1"style="width: 100%; float: left; padding-top: 20px; border-top: 1px solid rgba(4,30,66,1); ">
            <div id="postTitle1" class="layout1 info" style="border-bottom: 1px solid rgba(4,30,66,1); padding-bottom: 10px; font-size: 20px;  text-align: center;"><%=raw @post.title.html_safe %></div>
            <div id="postDate1" class="layout1 info" style="text-align: center; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid rgba(4,30,66,1); font-size: 14px; "><%= @post.date%></div>
            <div id="postBlurb1" class="layout1 info"style="text-align: center; border-right: none; padding-top: 20px; border-top: 1px solid #041e42; font-size: 17px;  line-height: 25px;"><%=raw @post.teaser.html_safe %></div>
            <div id="postButton1" class="blogButton" style="margin-left: 25%; margin-bottom: 10px; margin-top: 10px; width: 50%; text-align: center; /* border: 1px solid grey; */  font-weight: 100; background-color: rgba(4,30,66,1); text-decoration: none; color: white; padding-top: 20px; padding-bottom: 20px;"><a href="http://www.thedailyrec.com/posts/<%= @post.id %>" style="text-decoration: none; color: white;">SEE POST</a></div>
          </div>
      </div>
    <% end %>
  </body>
</html>
