
<div id="header">
  <div id="title1">CONTACT US</div>
</div>

<div class="row">

  <div class="col-md-6">
    <div id="contact" class="quarter">
      <div class="contactInfo mobile" id="nameContact">BROOKE DONALD WAHL</div>
      <div class="contactInfo mobile" id="linebreak1"></div>
      <div class="contactInfo mobile" id="titleContact">REAL ESTATE AGENT + LIFESTYLE SPECIALIST</div>
      <div class="contactInfo mobile" id="phoneContact">205.447.1704</div>
      <div class="contactInfo mobile" id="emailContact">BWAHL@REALTYSOUTH.COM</div>
    </div>
  </div>

  <div class="col-md-6">
    <div id="body">
    <div class="container3 quarter mobile">
      <div id="form">
        <%= form_for @user do |f| %>
             <%= f.label :name %>
             </br>
             <%= f.text_field :name %>
           </br>
             <%= f.label :email %>
             </br>
             <%= f.email_field :email %>
             </br>
             <%= f.label :message, id: "messageLabel1" %>
             </br>
             <%= f.text_area :message, id: "messageArea" %>
              </br>
              <%= f.submit "Send" %>
            <% end %>
      </div>
    </div>
    </div>
</div>
</div>

<div class="wrap mobile">
  <div class="instaTitle2 mobile">INSTAGRAM </div>
  <div class="instaTitle3 mobile"><a href="http://www.instagram.com/thedailyrec">@THEDAILYREC</a></div>
  <div class="instaHolder2 mobile">
    <% @images.each do |image| %>
    <div class="insta2 mobile">
      <img src="<%= image %>">
    </div>
    <% end %>
  </div>
