


  <div id="windowCenter">
      <div id="middle1">
        <div class="containerHome new">
          <%= image_tag "BHM2.jpg", :class => "rotating-item" %>
          <%= image_tag "MB.jpg", :class => "rotating-item" %>
          <%= image_tag "BHM3.jpg", :class => "rotating-item" %>
          <%= image_tag "BHM4.jpg", :class => "rotating-item" %>
          <%= image_tag "BHM5.jpg", :class => "rotating-item" %>
          <%= image_tag "BHM6.jpg", :class => "rotating-item" %>
          <%= image_tag "BHM7.jpg", :class => "rotating-item" %>
          <%= image_tag "border.png", :class => "border" %>
        </div>
      </div>

</div>
      <div class="wrap mobile">
        <div class="instaTitle2 mobile">INSTAGRAM </div>
        <div class="instaTitle3 mobile"><a href="http://www.instagram.com/thedailyrec">@THEDAILYREC</a></div>
        <div class="instaHolder2 mobile">
          <% @images.each do |image| %>
          <div class="insta2 mobile">
            <img src="<%= image %>">
          </div>
          <% end %>
        </div>
      </div>

<script>

$(window).load(function() { //start after HTML, images have loaded

    var InfiniteRotator =
    {
        init: function()
        {
            //initial fade-in time (in milliseconds)
            var initialFadeIn = 1000;

            //interval between items (in milliseconds)
            var itemInterval = 5000;

            //cross-fade time (in milliseconds)
            var fadeTime = 2500;

            //count number of items
            var numberOfItems = $('.rotating-item').length;

            //set current item
            var currentItem = 0;

            //show first item
            $('.rotating-item').eq(currentItem).fadeIn(initialFadeIn);

            //loop through the items
            var infiniteLoop = setInterval(function(){
                $('.rotating-item').eq(currentItem).fadeOut(fadeTime);

                if(currentItem == numberOfItems -1){
                    currentItem = 0;
                }else{
                    currentItem++;
                }
                $('.rotating-item').eq(currentItem).fadeIn(fadeTime);

            }, itemInterval);
        }
    };

    InfiniteRotator.init();

});
</script>
