


  <div id="windowCenter">
      <div id="middle1">
        <div class="containerHome new">
          <%= image_tag "BHM2.jpg", :class => "rotating-item" %>
          <%= image_tag "MB.jpg", :class => "rotating-item" %>
          <%= image_tag "BHM3.jpg", :class => "rotating-item" %>
          <%= image_tag "BHM4.jpg", :class => "rotating-item" %>
          <%= image_tag "BHM5.jpg", :class => "rotating-item" %>
          <%= image_tag "BHM6.jpg", :class => "rotating-item" %>
          <%= image_tag "BHM7.jpg", :class => "rotating-item" %>
          <%= image_tag "border.png", :class => "border" %>
        </div>
      </div>

</div>
      <div id="Holder">
        <div id="instagramTitle">INSTAGRAM @THEDAILYREC</div>
        <div id="instagramHolder">
          <% @images.each do |image| %>
          <div class="instagram">
            <img src="<%= image %>">
          </div>
          <% end %>
        </div>
      </div>
