<div id="matchContainer">
<div id="header">
  <div id="titleMatch">MATCH SIGN UP</div>
</div>


<div id="matchuser">
  <div id="body">
  <div class="container4 quarter mobile">
    <div id="formMatch">
      <%= form_for @matchuser do |f| %>
           <%= f.label :name %>
           </br>
           <%= f.text_field :name %>
         </br>
           <%= f.label :email %>
           </br>
           <%= f.email_field :email %>
           </br>
           <%= f.label :specialty %>
           </br>
           <%= f.text_field :specialty %>
            </br>
            <%= f.label :phone %>
            </br>
            <%= f.text_field :phone %>
             </br>
            <%= f.submit "Send" %>
          <% end %>
    </div>
  </div>
  </div>
  </div>
  </div>
