<script>

  $(document).ready(function() {
    $('#urlField').css("display","none");
    $('#teaserButton').click(function(){
      var selStart = $("#teaser")[0].selectionStart;
      var selEnd = $("#teaser")[0].selectionEnd;

      console.log(selStart)
      console.log(selEnd)

      var originalString = $("#teaser").val();
      var charNumber = parseInt(selEnd) - parseInt(selStart)
      if (charNumber > 0) {
      console.log(charNumber)
        var segment_1 = originalString.substr(0,selStart);
        var segment_2 = originalString.substr(selStart,charNumber);
        var segment_3 = originalString.substr(selEnd,originalString.length);
        console.log(segment_1)
        console.log(segment_2)
        console.log(segment_3)

      $('#urlField').fadeIn("slow")
      $('form').css("opacity",".3")


      $('#urlButton').click(function(){
        var url = $('#url').val();
        var finalString = segment_1 + "<a href='"+ url +"'>" + segment_2 + "</a>" + segment_3
        $("#teaser").val(finalString);

        $('#urlField').fadeOut("slow")
        $('form').css("opacity","1")
      })

      $('#cancelButton').click(function(){
        $('#urlField').fadeOut("slow")
        $('form').css("opacity","1")
      })


      $('#url').val("");
    }
    })

      $('#boldTeaserButton').click(function(){
        var selStart = $("#teaser")[0].selectionStart;
        var selEnd = $("#teaser")[0].selectionEnd;

        console.log(selStart)
        console.log(selEnd)

        var originalString = $("#teaser").val();
        var charNumber = parseInt(selEnd) - parseInt(selStart)
        if (charNumber > 0) {
        console.log(charNumber)
          var segment_1 = originalString.substr(0,selStart);
          var segment_2 = originalString.substr(selStart,charNumber);
          var segment_3 = originalString.substr(selEnd,originalString.length);
          console.log(segment_1)
          console.log(segment_2)
          console.log(segment_3)
          var url = $('#url').val();
          var finalString = segment_1 + "<b class='bold'>" + segment_2 + "</b>" + segment_3
          $("#teaser").val(finalString);
        }
      })

      $('#italicTeaserButton').click(function(){
        var selStart = $("#teaser")[0].selectionStart;
        var selEnd = $("#teaser")[0].selectionEnd;

        console.log(selStart)
        console.log(selEnd)

        var originalString = $("#teaser").val();
        var charNumber = parseInt(selEnd) - parseInt(selStart)
        if (charNumber > 0) {
        console.log(charNumber)
          var segment_1 = originalString.substr(0,selStart);
          var segment_2 = originalString.substr(selStart,charNumber);
          var segment_3 = originalString.substr(selEnd,originalString.length);
          console.log(segment_1)
          console.log(segment_2)
          console.log(segment_3)
          var url = $('#url').val();
          var finalString = segment_1 + "<i class='italic'>" + segment_2 + "</i>" + segment_3
          $("#teaser").val(finalString);
        }
      })

    $('#contentButton').click(function(){
      var selStart = $("#content")[0].selectionStart;
      var selEnd = $("#content")[0].selectionEnd;

      console.log(selStart)
      console.log(selEnd)

      var originalString = $("#content").val();
      var charNumber = parseInt(selEnd) - parseInt(selStart)

      if (charNumber > 0) {
      console.log(charNumber)
        var segment_1 = originalString.substr(0,selStart);
        var segment_2 = originalString.substr(selStart,charNumber);
        var segment_3 = originalString.substr(selEnd,originalString.length);
        console.log(segment_1)
        console.log(segment_2)
        console.log(segment_3)

      $('#urlField').fadeIn("slow")
      $('form').css("opacity",".3")


      $('#urlButton').click(function(){
        var url = $('#url').val();
        var finalString = segment_1 + "<a href='"+ url +"'>" + segment_2 + "</a>" + segment_3
        $("#content").val(finalString);

        $('#urlField').fadeOut("slow")
        $('form').css("opacity","1")
      })

      $('#cancelButton').click(function(){
        $('#urlField').fadeOut("slow")
        $('form').css("opacity","1")
      })


      $('#url').val("");
    }
    })

    $('#boldContentButton').click(function(){
      var selStart = $("#content")[0].selectionStart;
      var selEnd = $("#content")[0].selectionEnd;

      console.log(selStart)
      console.log(selEnd)

      var originalString = $("#content").val();
      var charNumber = parseInt(selEnd) - parseInt(selStart)
      if (charNumber > 0) {
      console.log(charNumber)
        var segment_1 = originalString.substr(0,selStart);
        var segment_2 = originalString.substr(selStart,charNumber);
        var segment_3 = originalString.substr(selEnd,originalString.length);
        console.log(segment_1)
        console.log(segment_2)
        console.log(segment_3)
        var finalString = segment_1 + "<b class='bold'>" + segment_2 + "</b>" + segment_3
        $("#content").val(finalString);
      }
    })

    $('#italicContentButton').click(function(){
      var selStart = $("#content")[0].selectionStart;
      var selEnd = $("#content")[0].selectionEnd;

      console.log(selStart)
      console.log(selEnd)

      var originalString = $("#content").val();
      var charNumber = parseInt(selEnd) - parseInt(selStart)
      if (charNumber > 0) {
      console.log(charNumber)
        var segment_1 = originalString.substr(0,selStart);
        var segment_2 = originalString.substr(selStart,charNumber);
        var segment_3 = originalString.substr(selEnd,originalString.length);
        console.log(segment_1)
        console.log(segment_2)
        console.log(segment_3)
        var finalString = segment_1 + "<i class='italic'>" + segment_2 + "</i>" + segment_3
        $("#content").val(finalString);
      }
    })
  })
</script>

<!-- <div id="urlField" class="form">
	Link Address: </br><input id="url"></input>
	<button class="btn" id="urlButton">+</button>
</div> -->

<div id="form1">
  <%= form_for @post do |f| %>
       <%= f.label :title %>
       </br>
       <%= f.text_field :title %>
       </br>
       </br>
       <%= f.label :date %>
       </br>
       <%= f.text_field :date %>
       </br>
       </br>
       <%= f.label :teaser %>
       </br>
       <%= f.text_area :teaser, id: "teaser" %>
       </br>
       <a id="teaserButton" class="btn" href="#">TEASER HYPERLINK</a>
       <a id="boldTeaserButton" class="btn" href="#">BOLD</a>
       <a id="italicTeaserButton" class="btn" href="#">ITALIC</a>
       </br>
       <%= f.label :content %>
       </br>
       <%= f.text_area :content, id: "content" %>
       </br>
       <a id="contentButton" class="btn" href="#">CONTENT HYPERLINK</a>
       <a id="boldContentButton" class="btn" href="#">BOLD</a>
       <a id="italicContentButton" class="btn" href="#">ITALIC</a>
       </br>
       </br>
       <%= f.label :pictures %>
       </br>
       <%= f.text_field :pictures %>
       <%= f.hidden_field :admin_id, :value => session[:admin_id] %>
       </br>
       <%= f.radio_button :category, 'favorites', :checked => true %>
       <%= f.label :category_favorites, 'Current Favorites' %>
       <%= f.radio_button :category, 'stories' %>
       <%= f.label :category_stories, 'Stories' %>
       <%= f.radio_button :category, 'home' %>
       <%= f.label :category_home, 'At Home' %>
    <div id="layoutHolder">
     <div class="radioHolder">
       <%= f.radio_button :layout, 'pictureLeft', :checked => true %>
       <%= f.label :layout_pictureLeft, 'Picture on Left' %>
       <%= image_tag 'PictureLeft.png'%>
     </div>
     <div class="radioHolder">
       <%= f.radio_button :layout, 'horizontalPicture' %>
       <%= f.label :layout_horizontalPicture, 'Picture Horizontal' %>
       <%= image_tag 'horizontalTop.png'%>
      </div>
      <div class="radioHolder">
       <%= f.radio_button :layout, 'threePics' %>
       <%= f.label :layout_threePics, '3 Pictures On Top' %>
       <%= image_tag 'threeonTop.png'%>
      </div>
      <div class="radioHolder">
       <%= f.radio_button :layout, 'pictureRight' %>
       <%= f.label :layout_pictureRight, 'Picture on Right' %>
       <%= image_tag 'PictureRight.png'%>
     </div>
   </div>
   <div id="formButtonHolder">
      <%= f.submit "Send" %>
    </div>
      <% end %>
