

<div id="postHolder">
    <div id="topImage">
      <img src="<%= @post.pictures[0] %>">
    </div>
    <div id="contentArea">
      <div id="showTitle"><%= @post.title %></div>
    </div>
    <div id="contentArea">
      <% @admin = Admin.find_by(id: @post.admin_id)%>
      <div id="showDateCategory"><%= @post.date %> // <%= @admin.name %></div>
    </div>
    <div id="contentArea">
      <div id="showContent"><%= @post.content %></div>
    </div>
    <% @post.pictures.each do |picture| %>
      <% if @post.pictures.index(picture) == 0 %>
      <% else %>
        <div id="topImage">
          <img src="<%= picture %>">
        </div>
      <% end %>
    <% end %>
    <div id="bottomBuffer">
    </div>
</div>

<div class="comment mobile">
  <div id="comment">COMMENTS (<%= @comments.length %>)</div>
  <div id="comment"><%= image_tag 'arrowDown.png', :id => "arrow" %><%= image_tag 'arrowUp.png', :id => "arrow", :style => "display: none"%></div>
  <%= form_for [@post,@comment] do |f| %>
    <%= f.label :name %>: <%= f.text_field :name %>
    <%= f.label :message %>: <%= f.text_field :message %>
    <%= f.hidden_field :post_id, :value => params[:id] %>
  <%= f.submit "Send" %>
<% end %>
</div>

<div id="comments">
<% @comments.each do |comment| %>
  <div class="comments"><%= comment.name %>: <%= comment.message %> <%= link_to image_tag('heart.png'), edit_post_comment_path(@post.id,comment.id) %><%= comment.likes %></div>
<% end %>
</div>

<div class="wrap mobile">
  <div class="instaTitle2 mobile">INSTAGRAM </div>
  <div class="instaTitle3 mobile"><a href="http://www.instagram.com/thedailyrec">@THEDAILYREC</a></div>
  <div class="instaHolder2 mobile">
    <% @images.each do |image| %>
    <div class="insta2 mobile">
      <img src="<%= image %>">
    </div>
    <% end %>
  </div>
  </div>
