<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dailyrec</title>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <div id="window">
      <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="logo">logo</div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left new here">
        <li id="home" class="link nonlogo1 quarter mobile"><%= link_to "HOME", { controller: "home", action: "index" } %><p id="homeSub" class="subcaption">back to the start</p></li>
        <li id="about" class="link nonlogo1 quarter mobile"><%= link_to "ABOUT US", { controller: "home", action: "show" } %><p id="aboutSub" class="subcaption">meet the team</p></li>
        <li class="link" id="logo"><%= image_tag 'Brooke_WebBanner-01.png'%></li>
        <li id="contact" class="link nonlogo1 quarter mobile"><%= link_to "CONTACT", new_user_path %><p id="contactSub" class="subcaption">let us hear from you</p></li>
        <li id="blog" class="link nonlogo1 quarter mobile"><%= link_to "BLOG", posts_path %><p id="blogSub" class="subcaption">read the daily recs</p></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div id="mobileLogo">
  <%= image_tag 'Brooke_WebBanner-02.png'%>
</div>
<div class="socialMobile">
  <a href="http://www.pinterest.com/thedailyrec/"><%= image_tag 'pinterest.png'%></a>
  <a href="http://instagram.com/thedailyrec/"><%= image_tag 'instagram.png'%></a>
  <a href="#"><%= image_tag 'facebook.png'%></a>
</div>
<div class="social1">
  <a href="http://www.pinterest.com/thedailyrec/"><%= image_tag 'pinterest.png', :id => "pinterest"%></a>
  <a href="http://instagram.com/thedailyrec/"><%= image_tag 'instagram.png', :id => "instagram" %></a>
  <a href="#"><%= image_tag 'facebook.png', :id => "facebook" %></a>
</div>
<div class="container">
<%= yield %>
<div class="sub">
  <%= link_to "SUBSCRIBE", new_user_path %>
</div>
</div>
</div>




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
  $("#home a").mouseover(function(){
   $("#homeSub").stop().slideDown("slow");
 });
});

$(document).ready(function(){
  $("#home a").mouseout(function(){
   $("#homeSub").slideUp("slow");
  });
});

$(document).ready(function(){
   $("#about a").mouseover(function(){
    $("#aboutSub").stop().slideDown("slow");
   });
   });

$(document).ready(function(){
   $("#about a").mouseout(function(){
    $("#aboutSub").slideUp("slow");
   });
   });

$(document).ready(function(){
  $("#contact a").mouseover(function(){
   $("#contactSub").stop().slideDown("slow");
  });
  });
$(document).ready(function(){
  $("#contact a").mouseout(function(){
   $("#contactSub").slideUp("slow");
  });
  });

$(document).ready(function(){
  $("#blog a").mouseover(function(){
   $("#blogSub").stop().slideDown("slow");
  });
  });

$(document).ready(function(){
  $("#blog a").mouseout(function(){
   $("#blogSub").slideUp("slow");
  });
  });

</script>
</body>
<footer>
  <div id="copyright2">
    <div id='footerText'>Copyright The Daily Rec 2015 | Designed by <a href="http://www.thethird.co">Trey Jackson</a> | Logo Design By <a href="http://www.winstonwatersdesign.com/">Winston Waters</a></div>
  </div>
</footer>
</html>
