<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dailyrec</title>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "style" %>
</head>
<body>
<div id="window">

      <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="logo">logo</div>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">

          <ul class="nav navbar-nav navbar-left new here menu" id="menu">
            <li id="home" class="link nonlogo1 quarter mobile">
              <a href="https://sleepy-everglades-3369.herokuapp.com/">HOME</a>
            </li>
            <li id="about" class="link nonlogo1 quarter mobile">
              <a href="#">BROOKE WAHL</a>
              <ul class="aboutUL">
                <li class="drop"><%= link_to "ABOUT", { controller: "home", action: "show" } %></li>
                <li class="drop"><%= link_to "FAQ", { controller: "about", action: "show" } %></li>
              </ul>
            </li>
            <li class="link" id="logo"><%= image_tag 'Brooke_WebBanner-01.png'%></li>
            <li id="contact" class="link nonlogo1 quarter mobile">
              <%= link_to "CONTACT", new_user_path %>
              </li>
            <li id="blog" class="link nonlogo1 quarter mobile">
              <a href="#">LIFESTYLE</a>
              <ul class="blogUL">
                <li class="drop"><%= link_to "CURRENT FAVORITES", { controller: "posts", action: "index", type: "favorites" } %></li>
                <li class="drop"><%= link_to "STORIES", { controller: "posts", action: "index", type: "stories" } %></li>
                <li class="drop"><%= link_to "AT HOME", { controller: "posts", action: "index", type: "home" } %></li>
              </ul>
            </li>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="mobileLogo">
        <%= image_tag 'Brooke_WebBanner-01.png'%>
      </div>
      <div class="socialMobile">
        <a href="http://www.pinterest.com/thedailyrec/"><%= image_tag 'pinterest.png'%></a>
        <a href="http://instagram.com/thedailyrec/"><%= image_tag 'instagram.png'%></a>
        <a href="#"><%= image_tag 'facebook.png'%></a>
      </div>
      <div class="social1">
        <a href="http://www.pinterest.com/thedailyrec/"><%= image_tag 'pinterest.png', :id => "pinterest"%></a>
        <a href="http://instagram.com/thedailyrec/"><%= image_tag 'instagram.png', :id => "instagram" %></a>
        <a href="#"><%= image_tag 'facebook.png', :id => "facebook" %></a>
      </div>
      <div class="sub">
        <%= link_to "SUBSCRIBE", new_user_path %>
      </div>

        <%= yield %>






    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
// $(document).ready(function() {
//     $('.menu').dropit();
// });

$(window).bind('scroll', function() {
  if($(window).width() >= 1075) {
     if ($(window).scrollTop() > 7) {
       $('ul#menu li.link.nonlogo1').css("width","25%")
        //  $('li#logo').fadeOut(1000);
         $('ul#menu').css("width", "60%")
         $('ul#menu').css("display", "flex")
         $('ul#menu').css("display", "-webkit-box")
         $('ul#menu').css("display", "-moz-box")
         $('ul#menu').css("display", "-ms-flexbox")
         $('ul#menu').css("display", "-webkit-flex")
         $('.navbar.navbar-default').css("position","fixed")
         $('#aboutUs').css("margin-top","100px")
         $('#header').css("margin-top","100px")
         $('#middle1').css("margin-top","100px")
         $('.navbar.navbar-default').css("top","0")
         $('.navbar.navbar-default').css("z-index","1")
         $('.navbar.navbar-default').css("background-color","white")
         $('.navbar.navbar-default').css("width","98%")
         $('#navbar-collapse-1').css("padding-bottom","10px")
        //  $('ul#menu').css("height","100px")
        //  $('ul#menu').css("background-color","white")
        //  $('ul#menu').css("z-index","1")
     }
     else {
       $('ul#menu li.link.nonlogo1').css("width","15%")
       $('#aboutUs').css("margin-top","0px")
       $('#header').css("margin-top","0px")
       $('#middle1').css("margin-top","0px")
      //  $('.navbar.navbar-default').css("height","100px")
       $('ul#menu').css("width", "80%")
       $('.navbar.navbar-default').css("position","relative")
       $('.navbar.navbar-default').css("width","100%")

        //  $('li#logo').fadeIn();



        //  $('ul#menu').css("height","100px")
     }
   }
});

$(window).bind('scroll', function() {
  if($(window).width() <= 1075) {
    if($(window).width() >= 768) {
     if ($(window).scrollTop() > 7) {
         $('ul#menu').css("display", "flex")
         $('ul#menu').css("display", "-webkit-box")
         $('ul#menu').css("display", "-moz-box")
         $('ul#menu').css("display", "-ms-flexbox")
         $('ul#menu').css("display", "-webkit-flex")
         $('.navbar.navbar-default').css("position","fixed")
         $('#aboutUs').css("margin-top","100px")
         $('#header').css("margin-top","100px")
         $('#middle1').css("margin-top","100px")
         $('.navbar.navbar-default').css("top","0")
         $('.navbar.navbar-default').css("z-index","1")
         $('.navbar.navbar-default').css("background-color","white")
         $('.navbar.navbar-default').css("width","98%")

     }
     else {
       $('#aboutUs').css("margin-top","0px")
       $('#header').css("margin-top","0px")
       $('#middle1').css("margin-top","0px")
      //  $('.navbar.navbar-default').css("height","100px")
       $('ul#menu').css("width", "80%")
       $('.navbar.navbar-default').css("position","relative")
       $('.navbar.navbar-default').css("width","100%")
     }
   }
 }
});


$(document).ready(function(){
  $("#blog a").mouseover(function(){
   $(".blogUL").stop().stop().fadeIn("slow");
 });
});

$(document).ready(function(){
  $("#blog a").mouseout(function(){
   $(".blogUL").fadeOut("slow");
  });
});

$(document).ready(function(){
   $("#about a").mouseover(function(){
    $(".aboutUL").stop().stop().fadeIn("slow");
   });
   });

$(document).ready(function(){
   $("#about a").mouseout(function(){
    $(".aboutUL").fadeOut("slow");
   });
   });


</script>

</body>
<footer>
  <div id="copyright2">
    <div id='footerText'>Copyright The Daily Rec 2015 | Designed by <a href="http://www.thethird.co">Trey Jackson</a> | Logo Design By <a href="http://www.winstonwatersdesign.com/">Winston Waters</a></div>
  </div>
</footer>
</html>
