<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dailyrec</title>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "style" %>
</head>
<body>
<div id="window">

      <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="logo">logo</div>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">

          <ul class="nav navbar-nav navbar-left new here menu" id="menu">
            <li id="home" class="link nonlogo1 quarter mobile">
              <a href="https://sleepy-everglades-3369.herokuapp.com/">HOME</a>
            </li>
            <li id="about" class="link nonlogo1 quarter mobile">
              <a href="#">BROOKE WAHL</a>
              <ul class="aboutUL">
                <li class="drop"><%= link_to "ABOUT", { controller: "home", action: "show" } %></li>
                <li class="drop"><%= link_to "FAQ", { controller: "faqs", action: "index" } %></li>
              </ul>
            </li>
            <li class="link" id="logo"><%= image_tag 'Brooke_WebBanner-01.png'%></li>
            <li id="contact" class="link nonlogo1 quarter mobile">
              <%= link_to "CONTACT", new_user_path %>
              </li>
            <li id="blog" class="link nonlogo1 quarter mobile">
              <a href="#">LIFESTYLE</a>
              <ul class="blogUL">
                <li class="drop"><%= link_to "CURRENT FAVORITES", { controller: "posts", action: "index", type: "favorites", count: 0 } %></li>
                <li class="drop"><%= link_to "STORIES", { controller: "posts", action: "index", type: "stories", count: "0" } %></li>
                <li class="drop"><%= link_to "AT HOME", { controller: "posts", action: "index", type: "home", count: "0" } %></li>
              </ul>
            </li>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="mobileLogo">
        <%= image_tag 'Brooke_WebBanner-01.png'%>
      </div>
      <div class="socialMobile">
        <a href="http://www.pinterest.com/thedailyrec/"><%= image_tag 'pinterest.png'%></a>
        <a href="http://instagram.com/thedailyrec/"><%= image_tag 'instagram.png'%></a>
        <a href="#"><%= image_tag 'facebook.png'%></a>
      </div>
      <div class="social1">
        <a href="http://www.pinterest.com/thedailyrec/"><%= image_tag 'pinterest.png', :id => "pinterest" %></a>
        <a href="http://instagram.com/thedailyrec/"><%= image_tag 'instagram.png', :id => "instagram" %></a>
        <a href="#"><%= image_tag 'facebook.png', :id => "facebook" %></a>
      </div>
      <div class="sub">
        <%= link_to "SUBSCRIBE", new_user_path %>
      </div>
      <div class="search mobile">
        <div id="search"><%= image_tag 'search2.png' %></div>
        <form action="/search" method="get" accept-charset="UTF-8" >
          <input type="text" type="hidden" name="search" use="search"></input>
        </form>
      </div>

        <%= yield %>






    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type=text/javascript async defer data-pin-color="white" data-pin-hover=true  src="//assets.pinterest.com/js/pinit.js"></script>
<script>

if ($(window).width() > 1075 ) {
  $(document).ready(function(){
    $('#showTitle').css("width","100%")
    $('#showDateCategory').css("width","75%")
    $('#bottomBuffer').css("height","50px")
  })

$(window).resize(function() {
  var width = $(window).width() / 1.9;
  $("#layout4.post").height(width);
  });

$(window).resize(function() {
  var width = $(window).width() / 1.9;
  $("#layout1.post").height(width);
  });

$(window).resize(function() {
  var width = $(window).width() / 1.43;
  $("#layout2.post").height(width);
  });

$(window).resize(function() {
  var width = $(window).width() / 1.8;
  $("#layout3.post").height(width);
  $("#layout3.post").css("margin-bottom","75px")
  });

$(window).resize(function() {
  var width = $(window).width() / 2.9;
  $("#top.layout3").height(width);
  });

$(window).resize(function() {
  var width = $(window).width() / 1.6;
  $("#topImage").height(width);
  });
$(document).ready(function() {
  var width = $(window).width() / 1.6;
  $("#topImage").height(width);
  });

}

  if($(window).width() <= 1075) {
    if($(window).width() >= 768) {
      $(document).ready(function(){
        $("#showTitle").css("width","100%")
        $("#showDateCategory").css("width","80%")
        $("div#topImage").css("margin-top","0px")
      })
      $(window).resize(function() {
        var width = $(window).width() / 2.9;
        $("#top.layout3").height(width);
        });
      $(document).ready(function() {
        var width = $(window).width() / 2.9;
        $("#top.layout3").height(width);
      });

      $(window).resize(function() {
        var width = $(window).width() / 1.5;
        $("#layout3.post").height(width);
        $("#layout3.post").css("margin-bottom","75px")
        });
      $(document).ready(function() {
        var width = $(window).width() / 1.5;
        $("#layout3.post").height(width);
        $("#layout3.post").css("margin-bottom","75px")
        });

      $(window).resize(function() {
        var width = $(window).width() / 1.43;
        $("#layout2.post").height(width);
        });
      $(document).ready(function() {
        var width = $(window).width() / 1.43;
        $("#layout2.post").height(width);
        });

      $(window).resize(function() {
        var width = $(window).width() / 1.9;
        $("#layout1.post").height(width);
        });
      $(document).ready(function() {
        var width = $(window).width() / 1.9;
        $("#layout1.post").height(width);
        });

      $(window).resize(function() {
        var width = $(window).width() / 1.9;
        $("#layout4.post").height(width);
        });
      $(document).ready(function() {
        var width = $(window).width() / 1.9;
        $("#layout4.post").height(width);
        });

        $(window).resize(function() {
          var width = $(window).width() / 1.4;
          $("div#topImage").height(width);
          });
        $(document).ready(function() {
          var width = $(window).width() / 1.4;
          $("div#topImage").height(width);
          });

    }}

if($(window).width() < 768) {
  $(document).ready(function(){
    $("div#contentArea").css("width","75%")
    $("#showTitle").css("width","100%")
    $("#showTitle").css("font-size","20px")
    $("#showContent").css("font-size","15px")
    $("#showDateCategory").css("width","80%")
    $("#showDateCategory").css("font-size","13px")
    $("div#topImage").css("margin-top","0px")
    $("div#topImage img").css("width","70%")
    $("div#comment").css("width","100%")
    $("div#bottomBuffer").css("height","50px")
    $("form#new_comment input").css("width","28%")
    $(".comment").css("width","70%")
  })

  $(window).resize(function() {
    var width = $(window).width() / .8;
    $("div#topImage").height(width);
    });
  $(document).ready(function() {
    var width = $(window).width() / .8;
    $("div#topImage").height(width);
    });
}


if ($(window).width() < 768 ) {
  $(document).ready(function() {
    $("#right.layout4").css("border-left","none");
    $("#layout4.post").css("height","908px");
    $("#layout3.post").css("margin-top","75px");
    $("#top.layout3").css("height","145px");
    $("#postBlurb2").css("border-right","none");
    $("#bottomLeft.layout2").css("width","100%");
    $("#postBlurb2").css("text-align","center");
    $("#postBlurb2").css("padding-right","0px");
    $("#bottomRight.layout2").css("width","100%");
    $("#postBlurb2.layout2.info").css("padding-right","0px");
    $("#postBlurb2.layout2.info").css("border-right","none");
    $("#postBlurb2.layout2.info").css("text-align","center");
    $("#layout2.post").css("height","700px");
    $("#bottomRight.layout2").css("padding-left","0px");
    $("#layout1.post").css("height","925px");
  });
}
// $(document).ready(function() {
//     $('.menu').dropit();
// });

$(window).bind('scroll', function() {
  if($(window).width() >= 1075) {
     if ($(window).scrollTop() > 7) {
       $('ul#menu li.link.nonlogo1').css("width","25%")
        //  $('li#logo').fadeOut(1000);
         $('ul#menu').css("width", "60%")
         $('ul#menu').css("display", "flex")
         $('ul#menu').css("display", "-webkit-box")
         $('ul#menu').css("display", "-moz-box")
         $('ul#menu').css("display", "-ms-flexbox")
         $('ul#menu').css("display", "-webkit-flex")
         $('.navbar.navbar-default').css("position","fixed")
         $('#aboutUs').css("margin-top","100px")
         $('#header').css("margin-top","100px")
         $('#middle1').css("margin-top","100px")
         $('.navbar.navbar-default').css("top","0")
         $('.navbar.navbar-default').css("z-index","1")
         $('.navbar.navbar-default').css("background-color","white")
         $('.navbar.navbar-default').css("width","98%")
         $('#navbar-collapse-1').css("padding-bottom","10px")
         $('.search').css("top","39px")
        //  $('ul#menu').css("height","100px")
        //  $('ul#menu').css("background-color","white")
        //  $('ul#menu').css("z-index","1")
     }
     else {
       $('ul#menu li.link.nonlogo1').css("width","15%")
       $('#aboutUs').css("margin-top","0px")
       $('#header').css("margin-top","0px")
       $('#middle1').css("margin-top","0px")
      //  $('.navbar.navbar-default').css("height","100px")
       $('ul#menu').css("width", "80%")
       $('.navbar.navbar-default').css("position","relative")
       $('.navbar.navbar-default').css("width","100%")
       $('.search.mobile').css("top","46px")
        //  $('li#logo').fadeIn();



        //  $('ul#menu').css("height","100px")
     }
   }
});

$(window).bind('scroll', function() {
  if($(window).width() <= 1075) {
    if($(window).width() >= 768) {
     if ($(window).scrollTop() > 7) {
         $('ul#menu').css("display", "flex")
         $('ul#menu').css("display", "-webkit-box")
         $('ul#menu').css("display", "-moz-box")
         $('ul#menu').css("display", "-ms-flexbox")
         $('ul#menu').css("display", "-webkit-flex")
         $('.navbar.navbar-default').css("position","fixed")
         $('#aboutUs').css("margin-top","100px")
         $('#header').css("margin-top","100px")
         $('#middle1').css("margin-top","100px")
         $('.navbar.navbar-default').css("top","0")
         $('.navbar.navbar-default').css("z-index","1")
         $('.navbar.navbar-default').css("background-color","white")
         $('.navbar.navbar-default').css("width","98%")
         $('.search').css("top","39px")
     }
     else {
       $('#aboutUs').css("margin-top","0px")
       $('#header').css("margin-top","0px")
       $('#middle1').css("margin-top","0px")
      //  $('.navbar.navbar-default').css("height","100px")
       $('ul#menu').css("width", "80%")
       $('.navbar.navbar-default').css("position","relative")
       $('.navbar.navbar-default').css("width","100%")
       $('.search').css("top","46px")
     }
   }
 }
});

$(document).ready(function(){
  // $('.up').css("display","none");
  $('img#arrow').click(function(){
    $('form#new_comment').slideToggle("slow");
    $('#comments').slideToggle("slow");
    $('.comment img#arrow').toggle();
  });
  });


$(document).ready(function(){
  $(".search").mouseover(function(){
   $("form").stop().stop().fadeIn("slow");
 });
});

$(document).ready(function(){
  $(".search").mouseout(function(){
   $("form").stop().stop().fadeOut("slow");
 });
});

$(document).ready(function(){
  $("#blog a").mouseover(function(){
   $(".blogUL").stop().stop().fadeIn("slow");
 });
});

$(document).ready(function(){
  $("#blog a").mouseout(function(){
   $(".blogUL").fadeOut("slow");
  });
});

$(document).ready(function(){
   $("#about a").mouseover(function(){
    $(".aboutUL").stop().stop().fadeIn("slow");
   });
   });

$(document).ready(function(){
   $("#about a").mouseout(function(){
    $(".aboutUL").fadeOut("slow");
   });
   });


</script>

</body>
<footer>
  <div id="copyright2">
    <div id='footerText'>Copyright The Daily Rec 2015 | Designed by <a href="http://www.thethird.co">Trey Jackson</a> | Logo Design By <a href="http://www.winstonwatersdesign.com/">Winston Waters</a></div>
  </div>
</footer>
</html>
